version: '3.8'

networks:
  iceberg_network:
    driver: bridge

services:
  minio:
    image: minio/minio:RELEASE.2024-10-13T13-34-11Z
    container_name: minio
    ports:
      - "9000:9000"   # MinIO API
      - "9001:9001"   # MinIO Console
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - ./minio_data:/data
    networks:
      iceberg_network:
        aliases:
          - minio

  duckdb_lab:
    build: .
    container_name: duckdb_lab
    volumes:
      - ./sample_data:/lab/sample_data
      - ./scripts:/lab/scripts
    depends_on:
      - minio
      - iceberg_rest
    stdin_open: true
    tty: true
    environment:
      PYICEBERG_HOME: /lab/sample_data
    networks:
      - iceberg_network

  iceberg_rest:
    image: tabulario/iceberg-rest:1.6.0
    container_name: iceberg_rest
    ports:
      - "8181:8181"
    environment:
      AWS_ACCESS_KEY_ID: minioadmin
      AWS_SECRET_ACCESS_KEY: minioadmin
      AWS_REGION: us-east-1
      AWS_ENDPOINT: http://minio:9000

      CATALOG__REST__URI: http://iceberg_rest:8181/
      CATALOG__REST__WAREHOUSE: s3://practice-bucket/
      CATALOG__REST__IO__IMPL: org.apache.iceberg.aws.s3.S3FileIO
      CATALOG__REST__S3__ENDPOINT: http://minio:9000
      CATALOG__REST__S3__ACCESS-KEY-ID: minioadmin
      CATALOG__REST__S3__SECRET-ACCESS-KEY: minioadmin

    depends_on:
      - minio
    networks:
      iceberg_network:
